<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.intel.ndg.chronos" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/chronos"
        android:label="@string/app_name"
        android:theme="@style/ChronosTheme"
        tools:replace="android:allowBackup" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Blesh stuff -->
        <activity
            android:name="com.blesh.sdk.activity.BleshMainActivity"
            android:exported="true" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.blesh.template.normal" />
                <action android:name="com.blesh.template.push" />
            </intent-filter>
        </activity>

        <service
            android:name="com.blesh.sdk.classes.Blesh"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver android:name="com.blesh.sdk.broadcastreceiver.BleshBootup" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.blesh.sdk.broadcastreceiver.BluetoothStatusChangeReceiver" >
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.blesh.sdk.ibeacon.service.IBeaconService"
            android:enabled="true"
            android:exported="true"
            android:isolatedProcess="false"
            android:label="iBeacon" >
        </service>
        <service
            android:name="com.blesh.sdk.ibeacon.IBeaconIntentProcessor"
            android:enabled="true" >
        </service>

        <activity
            android:name=".UserProfileActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/title_activity_user_profile"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".BeaconNotificationHandler"
            android:enabled="true"
            android:exported="true"
            android:label="BeaconNotificationHandler"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".PersonalGuidanceActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/title_activity_personal_guidance"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".ExploreOnMyOwnActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/title_activity_explore_on_my_own"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".CloudSettingsActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/title_activity_cloud_settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".RateConciergeActivity"
            android:label="@string/title_activity_rate_concierge"
            android:enabled="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
        </activity>
    </application>

</manifest>
